<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/images/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">
            Be Gluten-Free in 2023!
        </h1>
        <p class="lead">
            Explore our bountiful selection of delicious gluten-free recipes including: weeknight dinner ideas, fabulous desserts, Sunday night gatherings, and Alexander holiday classics.
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/whats-new" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">What's New</a>
            <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Random Recipe</a>
        </div>
    </div>
</div>

<!-- Categories Start -->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <a href="#" class="col text-center category_link">
        <div class="category_image shadow">
            <img src="images/appetizers.png" alt="" loading="lazy">
        </div>
        <div class="pt-1 subtitle">Appetizers</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_image shadow">
            <img src="images/seafood.png" alt="" loading="lazy">
        </div>
        <div class="pt-1 subtitle">Seafood</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_image shadow">
            <img src="images/holidays.png" alt="" loading="lazy">
        </div>
        <div class="pt-1 subtitle">Holidays</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_image shadow">
            <img src="images/desserts.png" alt="" loading="lazy">
        </div>
        <div class="pt-1 subtitle">Desserts</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_image shadow">
            <img src="images/soups-stews.png" alt="" loading="lazy">
        </div>
        <div class="pt-1 subtitle">Soups/Stews</div>
    </a>

    <a href="/categories" class="col text-center category_link">
        <div class="category_image shadow">
            <img src="images/view-all.png" alt="View All Categories" loading="lazy">
        </div>
        <div class="pt-1 subtitle">View All</div>
    </a>

</div>
<!-- Categories End -->

<!-- What's New start -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>What's New</h2>
        <a href="/whats-new" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <a href="/recipe/#" class="col text-center category_link">
            <div class="category_image category_image--lg shadow">
                <img src="images/carrot-cake.png" alt="NGI Carrot Cake" loading="lazy">
            </div>
            <div class="pt-1 subtitle">Jenny's Carrot Cake</div>
        </a>

        <a href="/recipe/#" class="col text-center category_link">
            <div class="category_image category_image--lg shadow">
                <img src="images/carrot-cake.png" alt="NGI Carrot Cake" loading="lazy">
            </div>
            <div class="pt-1 subtitle">Jenny's Carrot Cake</div>
        </a>

        <a href="/recipe/#" class="col text-center category_link">
            <div class="category_image category_image--lg shadow">
                <img src="images/carrot-cake.png" alt="NGI Carrot Cake" loading="lazy">
            </div>
            <div class="pt-1 subtitle">Jenny's Carrot Cake</div>
        </a>

        <a href="/recipe/#" class="col text-center category_link">
            <div class="category_image category_image--lg shadow">
                <img src="images/carrot-cake.png" alt="NGI Carrot Cake" loading="lazy">
            </div>
            <div class="pt-1 subtitle">Jenny's Carrot Cake</div>
        </a>

        <a href="/recipe/#" class="col text-center category_link">
            <div class="category_image category_image--lg shadow">
                <img src="images/carrot-cake.png" alt="NGI Carrot Cake" loading="lazy">
            </div>
            <div class="pt-1 subtitle">Jenny's Carrot Cake</div>
        </a>


    </div>
</section>





<!-- What's New end -->


